# === IDE & Editor ===
.vscode/
.antigravitycli/
.idea/

# === Python ===
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/
.env
.Python

# === Jupyter ===
.ipynb_checkpoints/

# === OpenCV / Media Outputs ===
# src/captures/
src/videos/

# === OS ===
.DS_Store
Thumbs.db
desktop.ini